/* prescriptionview.css */
.prescription-view-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.prescription-header {
  text-align: center;
  margin-bottom: 20px;
}

.prescription-header h2 {
  font-size: 2rem;
  color: #333;
}

.prescription-details {
  font-family: Arial, sans-serif;
  color: #555;
}

.info-section {
  margin-bottom: 20px;
}

.info-section h3 {
  font-size: 1.2rem;
  color: #222;
}

.info-section p {
  font-size: 1rem;
  margin: 5px 0;
}

.medicines-section {
  margin-bottom: 20px;
}

.medicine-details {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.medicine-details p {
  margin: 5px 0;
}

.notes-section {
  margin-top: 20px;
}

.notes-section h3 {
  font-size: 1.2rem;
  color: #222;
}

.notes-section p {
  font-size: 1rem;
}

/* Minimal styling for Doctor and Patient Info */
.info-section h3 {
  font-size: 1.2rem;
  color: #333;
}

.info-section p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.prescription-table {
  justify-self: center;
  width: 75%;
}

.prescription-page {
  padding-top: 75px;
}





.prescription-page .prescription-table td .delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prescription-page .prescription-table td .delete-btn:hover {
  background-color: #cc0000;
}

.prescription-page .prescription-table td .update-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.prescription-page .prescription-table td .update-btn:hover {
  background-color: #388e3c;
}


